<fieldset>
	<legend>Attachment Download Settings</legend>
	<p>
		<label for="settings_enable_zip_attachments"><%= l(:settings_enable_zip_attachments) %></label>
		<%= check_box_tag 'settings[enable_zip_attachments]', true, @settings['enable_zip_attachments'] %>
	</p>
</fieldset>